* {
    margin: 0;
}

html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.header__navbar{
    display: grid;
    background-color: #131921;
    grid-template-columns: 217px auto 381px;
    height: 60px;
    align-items: center;
}

.header__logoMenu{
    display: grid;
    grid-template-columns: auto ;
    grid-column-gap: 5px;
    padding: 0 0 0 8px
}

.header__logo{
    width:110px
}


.header__searchBar{
    margin-right:60px;
    min-width: 500px;
}


.header__searchBar input{
    height:40px;
    width:100%;
    border:none
}

.header__searchBar form{
    display: grid;
    grid-template-columns: auto 50px ;
    align-items: center;
}

.header__searchBar input[type=text]:focus { 
    outline: none;
  }

.header__searchIcon{
    display:grid;
    align-items: center;
    justify-items: center;
    color:black;
    background-color: orange;
    height:42px;
}

.header__rightOptions{
    display: grid;
    grid-template-columns: auto auto 100px;
}

.header__menuItem{
    color: blue !important;
}

