* {
  margin: 0;
}

:root {
  --doubleRow-width: 100%;
}

.home__banner {
  background-color: lightgray;
  height: fit-content;
}

.home__image {
  width: 100%;
  background-color: #2e3192;
  height: 500px;
  object-fit: cover;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: -1;
}

.home__rowsContainer {
  height: fit-content;
  padding-bottom: 100px;
  width: var(--doubleRow-width);
}

.home__doubleRow {
  display: grid;
  justify-content: space-evenly;
  width: var(--doubleRow-width);
  grid-template-columns: 49vw 49vw;
  margin-top: -15vh;
  z-index: 1;
}

.home__tripleRow {
  display: grid;
  justify-content: space-evenly;
  width: var(--doubleRow-width);
  grid-template-columns: 32.66vw 32.66vw 32.66vw;
  margin-top: 2vh;
  z-index: 1;
  font-size: 14px;
}

.home__singleRow {
  display: grid;
  margin: 2vh 0.4% 0 0.4%;
  grid-template-columns: 100%;
  justify-content: center;
  z-index: 1;
}
