

.login{
    width:100%;
    display: grid;
    justify-items: center;
    padding-top: 20px;
    font-size: 13px;
}

.title{
    font-size: 30px;
    padding:0 0 15px 0
}

.strong{
    font-weight: bold;
}

.login img {
    width: 100px;
}

.login__container{
margin: 3vh 0 3vh 0;
padding: 20px;
width: max-content;
height: max-content;

display: grid;
grid-template-columns: 25vw;
justify-items: center;
grid-template-rows: min-content;
grid-row-gap: 2vh;

border-style: solid;
border-color: lightgray;
border-radius: 5px;
border-width: 1px
}

.login__form form{
display: grid;
grid-template-columns: 1fr;
}

.login__signInButton {
    padding: 5px
}

.login__createAccountButton{
    padding: 5px
}

.hidden{
    display: none
}

.red{
    color: red
}