.login{
    display: grid;
    width:100%;
    justify-content: center;
    height: 92vh !important;
    background-color: lightgray;
}

.login img {
    width: 200px;
}

.login__container{
margin-top:3vh;
width: max-content;
display: grid;
grid-template-columns: 50vw;
justify-items: center;
grid-template-rows: min-content;
grid-row-gap: 2vh;
}

.login__form form{
background-color: lightgray;
display: grid;
grid-template-columns: 1fr;
}

.login__signInButton {
    padding: 5px
}

.login__createAccountButton{
    padding: 5px
}

.hidden{
    display: none
}

.red{
    color: red
}